doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='assets/css/main.css')
  body
    h1 Hello, world!
    i.fa.fa-arrows(aria-hidden='true')
    // jQuery first, then Tether, then Bootstrap JS.
    script(src='assets/js/main.js')